* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    display: block;
    transition: all ease-out 0.5s;
}

.menu {
    display: none;
    opacity: 0;
    z-index: 9999;
    
}

#ulDropDown {
    margin-inline: -20.6vmin;
    width: 15.88vmax;
    margin-top: 18.2vmax;
    text-decoration: none;
    background: rgb(53, 51, 51);
    font: 300 1.09vmax Arial;
    cursor: pointer;
    position: relative;
}

ul {
    list-style-type: none;
}

li:hover {
    background-color: red;
}

a {
    text-decoration: none;
    color: rgb(204, 181, 181);

}

.list:hover {
    color: rgb(250, 250, 250);
}

.navbar {
    background-color: rgb(154, 180, 189);
    display: flex;
    height: 4.8vmax;
}

.menuNavbar > .LogoFetech {
    margin-inline: 3vmax;
}

#navBar > .menuNavbar{
    display: flex;
    width: 100%;
    height: 5vmax;
}

#navbar > #navBar {
    background-color: rgb(154, 180, 189);
    width: 100%;
    height: 10vh;
    margin-top: 4.4vmax;
    border-bottom: 3px solid orange;
}

.menuNavbar > .menu-buttom {
    position: relative;
    display: flex;
    width: 8vmax;
    height: 3vmax;
    background: gray;
    cursor: pointer;
    margin-top: 1.3vmax;
    margin-inline: 10vmax;
    text-decoration: none;
    border: none;
    transition: all ease-out 0.5s;
    border-radius: 5%;
}

.menuNavbar > .menu-buttom:hover {
    background-color: rgb(82, 73, 73);
    text-decoration: none;
    color: rgb(196, 179, 179);
}

.menuNavbar > .divTeste {
    align-items: flex-end;
}
